body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    color: #4CAF50;
    margin: 0;
}

p {
    color: #777;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#map {
    height: 50vh; /* Takes up half of the viewport height */
    width: 100%;
    z-index: 1; /* Ensures the map is above the list in case of overlap */
}

#schools-list {
    flex-grow: 1; /* Takes up the remaining vertical space */
    padding: 20px;
    overflow-y: auto; /* Adds a scrollbar if the content is too long */
    background-color: #f9f9f9;
}

.school-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.school-item h3 {
    margin: 0 0 5px;
    color: #007BFF;
}

.school-item p {
    margin: 0;
}